.one-tab {
  padding-left: 1em;
}

.two-tabs {
  padding-left: 2em;
}

#table-of-contents {
  line-height:30px; /* distance between lines vertically */
  background-color:#eeeeee;
  height:100%;
  width:150px;
  float:left;
  padding:5px;
}

#section {
  width:350px;
  float:left;
  padding:10px;
}

.line {
  float:left;
}
